<div class="container">
	<div class="row mt-5">
		<div class="col m-auto">
			<h2 class="text-center">Productos</h2>
		</div>
	</div>

	<div class="row mt-3">
    <div class="col">
      <a href="" routerLink="/products-create">agregar producto</a>
    </div>
	</div>

	<div *ngIf="waitingForProducts" class="row mt-4">
		<div class="col">
			<p class="text-center">Cargando productos...</p>
		</div>
	</div>

  <div *ngIf="!waitingForProducts" class="row mt-4">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th colspan="1"></th>
              <th scope="col">Tipo de mascota</th>
              <th scope="col">Tipo de producto</th>
              <th scope="col">Marca</th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>
                  <p *ngIf="!product.in_stock"><span class="badge badge-danger">No stock</span></p>
                  <p *ngIf="product.in_stock"><span class="badge badge-success">En stock</span></p>
                </td>
                <td>{{ product.pet_type }}</td>
                <td>{{ product.product_type }}</td>
                <td>{{ product.brand }}</td>
                <td><a href="" routerLink="/products/{{ product.id }}">ver</a></td>
                <td><a href="" routerLink="/products-edit/{{ product.id }}">editar</a></td>
                <td><a href="" routerLink="" (click)="deleteProduct(product)"  class="text-danger">eliminar</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>